<h1>Editing proposal_upload</h1>

<% form_for(@proposal_upload) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.label :file_size %><br />
    <%= f.text_field :file_size %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @proposal_upload %> |
<%= link_to 'Back', proposal_uploads_path %>