<% content_for :extra_head do -%>
    <%= javascript_include_tag("gp/proposals", :cache => true) %>
    <%= stylesheet_link_tag 'gp/proposals' %>
<% end %>

<% form_for(@proposal) do |f| %>
  <%= f.error_messages %>
<div id="gp_step_1">
<h1>Giant Pocket Proposal Submission</h1>
<ol>
  <li>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </li>
  <li>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
  </li>
  <li>
Duis eget lorem ac odio lobortis suscipit nec et neque. Sed at quam ut mauris scelerisque congue id eget dui. Quisque tellus lectus, tristique eu posuere in, faucibus vitae urna. Duis vitae orci purus, quis euismod augue. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Morbi lorem arcu, aliquet sed feugiat et, posuere non elit fusce sollicitudin.  Nunc at in hendrerit in vulputate, imperdiet fringilla.
  </li>
</ol>
<div>
    <h1>Proposal Submission Step 1</h2>
  <p>
    <%= f.check_box :terms_accepted %><label for="proposal_terms_accepted">I accept Giant Pocket proposal submission terms.</label>
  </p>
  <input id="proposal_step_button_1" class="disabled" name="proposal_step_button_1" type="button" value="Next Step" disabled="disabled"/>
</div>
</div>
<div id="gp_step_2" class="gp_step_hide">
<h1>Proposal Details</h1>
<h3><a id="gp_step_1_back">&#8656 Back</a></h3>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <div>
    <%= render :partial => "upload" %>
  </div>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :owner_type %><br />
    <%= f.text_field :owner_type %>
  </p>
  <p>
    <%= f.label :rewards %><br />
    <%= f.text_area :rewards %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>

<div id="notice"></div>
<div id="app"></div>

<script type="text/javascript">
  /*
  $(function() {
    App.init();
  });
  */
</script>

